<h1>Update Article: "<%= @article.title %>"</h1>

<% if @article.errors.any? %>
  <div class="errors">
    <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @article, url: { action: "update" } do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body %>
  <br>
  <br>
  <%= submit_tag 'Submit Article' %>
<% end %>